In [1]:
import pandas as pd
import numpy as np

In [3]:
book = pd.read_csv('bookdataset/Books.csv')

C:\Users\dell\AppData\Local\Temp\ipykernel_34344\2647607632.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book = pd.read_csv('bookdataset/Books.csv')

In [4]:
book.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
book.shape

(271360, 8)

In [6]:
book.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [16]:
book.drop(['Image-URL-S','Image-URL-M'],axis=1,inplace = True)

In [17]:
book.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [20]:
book.rename(columns={
    "Book-Title":"title",
    "Book-Author":"author",
    "Year-Of-Publication":"year",
    "Image-URL-L":"img_url"
},inplace  = True)

In [21]:
book.head()

,ISBN,title,author,year,Publisher,img_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [22]:
book.isna().sum()

ISBN         0
title        0
author       1
year         0
Publisher    2
img_url      3
dtype: int64

In [23]:
book.dropna(inplace=True)

In [7]:
user = pd.read_csv("bookdataset/Users.csv")

In [8]:
user.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [9]:
user.shape

(278858, 3)

In [12]:
user.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [48]:
user.rename(columns={
    "User-ID":"user"
},inplace = True)

In [40]:
rating = pd.read_csv("bookdataset/Ratings.csv")

In [41]:
rating.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [42]:
rating.shape

(1149780, 3)

In [43]:
rating.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [44]:
rating.isna().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [45]:
rating.value_counts()

User-ID  ISBN        Book-Rating
2        0195153448  0              1
187762   0786927089  10             1
         0870448129  10             1
         0836218620  10             1
         0836218515  10             1
                                   ..
94923    0671643983  0              1
         0671658131  0              1
         0671658166  0              1
         0671661302  0              1
278854   0553579606  8              1
Length: 1149780, dtype: int64

In [46]:
rating.rename(columns={
    'User-ID':"user",
    'Book-Rating':'rating'
},inplace=True)

In [47]:
rating.shape

(1149780, 3)

In [49]:
ratings = rating.merge(book,on="ISBN")

In [68]:
ratingss = ratings.merge(user, on="user")

In [69]:
ratingss.head()

,user,ISBN,rating,title,author,year,Publisher,img_url,Location,Age
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,"tyler, texas, usa",NaN
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,"cincinnati, ohio, usa",23.0
2,2313,0812533550,9,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,1986,Tor Books,http://images.amazon.com/images/P/0812533550.0...,"cincinnati, ohio, usa",23.0
3,2313,0679745580,8,In Cold Blood (Vintage International),TRUMAN CAPOTE,1994,Vintage,http://images.amazon.com/images/P/0679745580.0...,"cincinnati, ohio, usa",23.0
4,2313,0060173289,9,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,1996,HarperCollins,http://images.amazon.com/images/P/0060173289.0...,"cincinnati, ohio, usa",23.0

In [70]:
duplicate_ratings = ratingss[ratingss.duplicated(subset=['user', 'ISBN'], keep=False)]
print(duplicate_ratings)

Empty DataFrame
Columns: [user, ISBN, rating, title, author, year, Publisher, img_url, Location, Age]
Index: []

In [71]:
min_rate = ratingss["ISBN"].value_counts()

In [72]:
min_rate.shape

(270145,)

In [73]:
book_to_keep = min_rate[min_rate >=50 ].index.tolist()

In [74]:
len(book_to_keep)

2161

In [75]:
ratingss = ratingss[ratingss["ISBN"].isin(book_to_keep)]

In [76]:
ratingss.shape

(234876, 10)

In [79]:
ratingss.head()

,user,ISBN,rating,title,author,year,Publisher,img_url,Location,Age
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,"tyler, texas, usa",NaN
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,"cincinnati, ohio, usa",23.0
3,2313,0679745580,8,In Cold Blood (Vintage International),TRUMAN CAPOTE,1994,Vintage,http://images.amazon.com/images/P/0679745580.0...,"cincinnati, ohio, usa",23.0
4,2313,0060173289,9,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,1996,HarperCollins,http://images.amazon.com/images/P/0060173289.0...,"cincinnati, ohio, usa",23.0
5,2313,0385482388,5,The Mistress of Spices,Chitra Banerjee Divakaruni,1998,Anchor Books/Doubleday,http://images.amazon.com/images/P/0385482388.0...,"cincinnati, ohio, usa",23.0

In [94]:
 ratingss["ISBN"].value_counts()

0971880107    2502
0316666343    1295
0385504209     883
0060928336     732
0312195516     723
              ...
0380722704      50
0441009239      50
1551668459      50
0786884142      50
0670813648      50
Name: ISBN, Length: 2161, dtype: int64

In [83]:
book_pivot = ratingss.pivot_table(index="title",columns="user",values ="rating")

In [92]:
book_pivot.head()

user,9,14,16,17,26,32,39,42,44,51,...,278813,278819,278828,278832,278836,278843,278844,278846,278851,278854
title,,,,,,,,,,,,,,,,,,,,,
16 Lighthouse Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010: Odyssey Two,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204 Rosewood Lane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
book_pivot.shape

(1964, 42828)

In [95]:
book_pivot.fillna(0,inplace=True)

In [97]:
from scipy.sparse import csr_matrix

In [98]:
book_sparse = csr_matrix(book_pivot)

In [99]:
book_sparse

<1964x42828 sparse matrix of type '<class 'numpy.float64'>'
	with 93610 stored elements in Compressed Sparse Row format>

In [100]:
from sklearn.metrics.pairwise import cosine_similarity
user_similarity = cosine_similarity(book_sparse)

In [117]:
user_similarity

array([[1.        , 0.        , 0.01310866, ..., 0.        , 0.02471161,
        0.        ],
       [0.        , 1.        , 0.01911073, ..., 0.        , 0.        ,
        0.02679873],
       [0.01310866, 0.01911073, 1.        , ..., 0.05905986, 0.05358723,
        0.02047133],
       ...,
       [0.        , 0.        , 0.05905986, ..., 1.        , 0.04172394,
        0.04547801],
       [0.02471161, 0.        , 0.05358723, ..., 0.04172394, 1.        ,
        0.00847494],
       [0.        , 0.02679873, 0.02047133, ..., 0.04547801, 0.00847494,
        1.        ]])

In [107]:
from sklearn.neighbors import NearestNeighbors

In [108]:
model = NearestNeighbors(algorithm="brute")
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [115]:
distance, suggestion = model.kneighbors(book_pivot.iloc[23,:].values.reshape(1,-1),n_neighbors=6)

In [116]:
distance

array([[ 0.        , 37.89459064, 39.59797975, 39.87480407, 40.31128874,
        40.47221269]])

In [119]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['A Cup of Tea (Ballantine Reader's Circle)', 'Women in His Life',
       'Ground Zero and Beyond', 'Honor Among Thieves',
       'Blood and Gold (Rice, Anne, Vampire Chronicles.)', 'Montana'],
      dtype='object', name='title')

In [120]:
book_name = book_pivot.index

In [121]:
book_name

Index(['16 Lighthouse Road', '1984', '1st to Die: A Novel',
       '2010: Odyssey Two', '204 Rosewood Lane', '24 Hours', '2nd Chance',
       '3rd Degree', '4 Blondes',
       '50 Simple Things You Can Do to Save the Earth',
       ...
       'Wuthering Heights (Penguin Classics)',
       'Wuthering Heights (Wordsworth Classics)',
       'Xenocide (Ender Wiggins Saga (Paperback))', 'YOU BELONG TO ME',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"', 'stardust'],
      dtype='object', name='title', length=1964)

In [124]:
book_id = np.where(book_pivot.index == 'Zoya')
book_id

(array([1961], dtype=int64),)

In [135]:
def recommend_book(title):
    book_id = np.where(book_pivot.index == title)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6) 
    for i in range(len(suggestion)):
        books = book_pivot.index[suggestion[i]]
        for j in books:
            if j!= title:
                print(j)

In [136]:
recommend_book('Zoya')

Star
Women in His Life
Special Delivery: A Novel
Jewels
Morning, Noon &amp; Night